@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 0.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 6rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}



.nav-item {
    padding: 10px;
    float: left;
    justify-content: center;
    align-items: center;
    position: center;
}

.nav {
    font-size: 25px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    z-index: 1;
}

.nav-ul{
    margin-left: auto;
    margin-right: 2%;
}

.item-content{
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.item-content:hover {
    filter: brightness(2);
    background-color: rgba(95,229,208, 0.5);
}

a:link,a:visited,a:active {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.name{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Forte;
    font-size: 10rem;
    background: -webkit-linear-gradient(45deg, #000000,#ffffff, #000000, #ffffff,#000000,#ffffff, #000000);
-moz-linear-gradient(45deg, #000000,#ffffff, #000000, #ffffff,#000000,#ffffff, #000000);
-ms-linear-gradient(45deg, #000000,#ffffff, #000000, #ffffff,#000000,#ffffff, #000000);
    color: transparent;
    -webkit-background-clip: text;
    animation: ran 1s linear infinite;
}

button{
    color: #6f42c1;
    font-family: Arial;
    font-weight: bolder;
    outline: none;
}

button:hover{
    filter: brightness(2);
}

.input{
    background: rgba(0, 0, 0, 0.55);
    border: none;
    border-radius: 15px;
    width: 230px;
    height: 34px;
    color: #bd2130;
    outline: none;
}

.input:hover{
    filter: brightness(2);
}

input::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
}

form{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form-group{
    align-items: center;
    justify-content: center;
}

.form-class{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #6f42c1;
}

.login {
    background-image: url("../css/image/R.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity:0;
    }
    25% {
        opacity:1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity:0;
    }
}

.tran_fade_image{
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: -1;
}

.trans_fade_image{
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    -webkit-animation-direction: alternate;
}
.wechat-message {
    flex-direction: column;
    position: relative;
}
.wechat-message button{
    position: absolute;
    border: none;
    outline: none;
    right: 0;
    bottom: 0;
}
.wechat-main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-info {
    border: none;
    outline: none;
    width: 200px;
    background-color: white;
    color: black;
}

.wechat-table{
    flex-direction: column;
    margin-bottom: auto;
}

.wechat-box{
    min-height: 22rem;
    max-height: 30rem;
    overflow-y: auto;
}

.wechat-th{
position: relative;
}

.wechat-tr{
    overflow-y: auto;
}

.wechat-small:hover{
    filter: brightness(2);
    background-color: rgba(95,229,208, 0.5);    
}

.wechat-small{
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.search-text{
    width: 200px;
    height: 50px;
}

.search-table{
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position:fixed;
    background-repeat: no-repeat;
    background-position: center 0;
}

.notice-button1{
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

.notice-button2{
    background: transparent;
    border: none;
    outline: none;
}

.Moment-main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.index-background{
    background-image: url("../css/image/true.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

.index-A{
    position: absolute;
    z-index: 2;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
}

.index-B {
    position: absolute;
    z-index: 2;
    margin-top: 5%;
}

.settings-label1{
    display: inline-block;
    text-align: right;
    width: 20%;
    color: white;
    font-size: 25px;
    font-family: "Berlin Sans FB";
}

.settings-label2{
    display: inline-block;
    text-align: right;
    width: 15%;
    font-size: 25px;
    font-family: "Berlin Sans FB";
    color: white;
}

.settings-label3{
    display: inline-block;
    text-align: left;
    width: 20%;
    font-size: 25px;
    font-family: "Berlin Sans FB";
    color: white;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #bee5eb;
    font-family: Arial;
    font-weight: bolder;
}

.wish{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    font-family: "Wide Latin";
    color: white;
    margin-top: 100px;
}

.ok{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 50px;
 }

.connect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    font-family: Forte;
}

.td{
    border: 2px solid wheat;
}

.th{
    border: 2px solid wheat;
}