@page "/"
@namespace LoginExample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ILearning</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="w3.css">
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<div class="host"></div>
<app>
    <component type="typeof(App)" render-mode="Server"/>

</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script>
                          function myFunction(id) {
                              var x = document.getElementById(id);
                              if (x.className.indexOf("w3-show") == -1) {
                                  x.className += " w3-show";
                              } else {
                                  x.className = x.className.replace(" w3-show", "");
                              }
                          }
                      </script>

<script>
$("[name='sexRadio']:eq(0)").parent("span").addClass("checked");
$("[name='sexRadio']:eq(0)").prop("checked",true);
</script>

<script>
function getRadio(){
    var c = $('input:radio[name="sexRadio"]:checked').val(); 
    var b = $('input[name="sexRadio"]:checked').val();
    alert(c);
}
</script>

<script src="_framework/blazor.server.js"></script>

</body>
</html>