@page "/CAO"

<hr style=" border: 2px solid white" />
<br>

<el-table-column prop="xuhao" label="xing">
<template slot-scope="scope">
    <span v-if="scope.row.xuhao == 0">man</span>
    <span v-if="scope.row.xuhao == 1">woman</span>
</template>
</el-table-column>
@code {
    
}