@page "/ContactUs"

<div>
    <hr style="border: 2px solid white" />
</div>
<br/>
<div class="contact">
        <h1>Contact Information</h1>
        </div>
<form class="ok">
    <div class="connect">
            E-mail:
            305594@via.dk
            </div>
    <br/><br/>
   <div class="connect">
       <a href="https://www.facebook.com/profile.php?id=100040972306409">
           Facebook:
           Chenben Facebook
           </a>
       </div>
</form>
<br/><br/>
<div class="wish">
    If you have any questions, please contact us!
    <div style="color: deeppink">
    ❤❤❤❤❤❤❤❤❤❤❤❤❤
</div>
</div>
@code {
    
}