@page "/counter"
@using LoginExample.Data
@using LoginExample.Data.Impl
@using LoginExample.Models
@inject IUserService iService;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button @onclick="test">test</button>
<div>
    <form>
        <input @bind=_user.Username>;
        <input @bind=_user.Password >
        <input @bind="text">
    </form>
    <button @onclick="testpost">post</button>
    <button @onclick="testGet">get</button>
</div>

@code {
    private int currentCount = 0;
    private UserData _userData = new UserDataService();
    private User _user = new User();
    private IList<User> _users = new List<User>();
    private IList<User> friends = new List<User>();
    private String text;
    private IList<Message> messages;

    protected override async Task OnInitializedAsync()
    {
        _users = await _userData.getAllUsers();
        friends = await _userData.getAllFriends(iService.getName());
    
    }


    private void IncrementCount() {
        currentCount++;
    }

    public async void test()
    {
        
        //Console.WriteLine(await _userData.get());
        
        //Console.WriteLine(iService.getName());

        //for (int i = 0; i < friends.Count; i++)
        //{
        //    Console.WriteLine(friends[i].Username);
        //}

        //await _userData.sendMessage(iService.getName(), "Jax", text);
    
        //Console.WriteLine(messages[0]);
        
        
    }


    public async void testpost()
    {
        await _userData.post(_user);
        Console.WriteLine("postdid");
    }
    
    public void testGet()
    {
        for (int i = 0; i < _users.Count; i++)
        {
            Console.WriteLine(_users[i].Username);
        }
        Console.WriteLine("getdid");
    }
    
}