@page "/Group"
<h3>Group</h3>

<input type="file" name="pclogo" id="xdaTanFileImg" onchange="xmTanUploadImg(this)" accept="image/*">
<img src="css/image/apic27858.jpg" class="img-circle img-thumbnail img-responsive" id="avarimgs">
@code {
    
}