@page "/Home"
@inject NavigationManager _navigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider
@using LoginExample.Authentication
@inherits LayoutComponentBase

<div>
  <div class="index-background"></div>
  <div style="width: 100%;">
    <div style="position: absolute; z-index: 3; list-style-type: none; right: 0; margin-top: -3%">
      <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark navbar-custom  box-shadow mb-3 fixed-top" style="background-color: rgba(178,255,244,0.3)">
        <div style="float: left; margin-left: auto;">
        <li class="nav-item">
          <div class="item-content">
            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" style="font-weight: normal; text-align: center; font-size:25px; color: #34ce57; background: transparent; border-width: 0; outline:none;">
              Course
            </button>
            <ul class="dropdown-menu" style="background-color: rgba(0,0,0,0.4)">
              <li><a class="dropdown-item" href="/SDJ" style="font-family: 'Arial'; font-weight: lighter">SDJ</a></li>
              <li><a class="dropdown-item" href="/DNP" style="font-family: 'Arial'; font-weight: lighter">DNP</a></li>
              <li><a class="dropdown-item" href="/CAO" style="font-family: 'Arial'; font-weight: lighter">CAO</a></li>
              <li><a class="dropdown-item" href="/NES" style="font-family: 'Arial'; font-weight: lighter">NES</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="item-content">
            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" style="font-weight: normal; text-align: center; font-size:25px; color: #34ce57; background: transparent; border-width: 0; outline:none;">
              <div class="oi oi-menu" style="text-align: center; font-size: 25px; font-weight: normal;">Menu</div>
            </button>
            <ul class="dropdown-menu" style="background-color: rgba(0,0,0,0.4)">
              <li><a class="dropdown-item" href="/wechat" style="font-family: 'Arial'; font-weight: lighter; text-align: center">WeChat</a></li>
              <li><a class="dropdown-item" href="/moment" style="font-family: 'Arial'; font-weight: lighter; text-align: center">Moment</a></li>
              <li><a class="dropdown-item" href="/groupchat" style="font-family: 'Arial'; font-weight: lighter; text-align: center">GroupChat</a></li>
              <li><a class="dropdown-item" href="/contactus" style="font-family: 'Arial'; font-weight: lighter; text-align: center">ContactUs</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <div class="item-content">
            <a href="/Notice">
              <img src="css/image/Notice.png" alt="Notice" type="button" width="30px" height="30px" style="margin-top: 2%"><label style="color: red; font-size: 10px">100</label>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <div class="item-content">
            <img src="css/image/person.jpg" alt="Login" type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" width="30px" height="30px" style="margin-top: 10%">
            <ul class="dropdown-menu dropdown-menu-right" style="background-color: rgba(0,0,0,0.4); margin-right: auto; margin-top: 7px">
              <li><a class="dropdown-item" style="text-align: center; font-family: Aharoni" href="/Profile">Profile</a></li>
              <li><a class="dropdown-item" style="text-align: center; font-family: Aharoni; background-color: rgba(0,0,0,0.4); color: rgba(255,255,255,0.4)" @onclick="go">Logout</a></li>
            </ul>
          </div>
        </li>
        </div>
      </nav>
    </div>
  </div>
  <div class="index-A">
    
      <div style="flex-direction: column; position: absolute; z-index: 3; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%">

        <span style="width: 30%; height: 5%; text-align: center; font-size: 2vw; color: white; margin-right: 10%; font-weight: bolder; font-family: 'Arial'">Software Engineering</span>
        <br>
        <button style="font-family: Arial; font-size: 1.5vw; color: white; width: 20%; height: 5%; text-align: center; border-radius: 10px; margin-top: 30px; margin-right: 10%; border: 1px solid red; background-color: red; border-bottom-width: 10px; border-top-width: 5px; border-left-width: 10px; border-right-width: 10px;" type="button">Welcome our Journey</button>
</div>
      
      <img src="css/image/backmath.jpg" width="100%" height="70%" style="position: relative">
      
        <div class="index-B" style="text-align: center">
      <a href="/SDJ">
        <img src="css/image/SDJ.png" width="23%" height="60%" style="border-radius: 50%; overflow: hidden;">
      </a>
      <a href="/DNP">
        <img src="css/image/DNP.png" width="23%" height="60%" style="border-radius: 50%; overflow: hidden;">
      </a>
      <a href="/CAO">
        <img src="css/image/CAO.png" width="23%" height="60%" style="border-radius: 50%; overflow: hidden;">
      </a>
      <a href="/NES">
        <img src="css/image/NES.png" width="23%" height="60%" style="border-radius: 50%; overflow: hidden;">
      </a>
      <p style="margin: auto; top: 150%; bottom: 0; left: 0; right: 0; text-align: center; color: black; font-size: 30px; font-weight: normal; position: absolute; width: 60%; height: 40%">Software engineering is a discipline that studies the use of engineering methods to build and maintain effective, practical and high-quality software.It involves programming languages, databases, software development tools, system platforms, standards, embedded systems, man-machine interfaces, operating systems, compilers, databases, etc. These applications promote economic and social development, and also improve work efficiency and life efficiency.</p>
    </div>  
  </div>
</div>


@code
{

  private bool collapseNavMenu = true;
     
  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
     
  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }
     

  public async Task go() {

    try {
      ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
      _navigationManager.NavigateTo("/Login");
    } catch (Exception e) { }
  }
}
