@page "/"
@inject NavigationManager _navigationManager;
<div>
  <div class="index-background"></div>
  <div style="position: fixed; z-index: 3; margin-left:90%; margin-top: -70px">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                              Menu
        </button>
      <ul class="dropdown-menu" style="background-color: rgba(0,0,0,0.4)">
        <li><a class="dropdown-item" href="/group">Group</a></li>
        <li><a class="dropdown-item" href="Grouplist">GroupList</a></li>
        <li><a class="dropdown-item" href="/wechat">WeChat</a></li>
        </ul>
      </div> 
    </div>
<div class="index-A">
  <img src="css/image/backmath.jpg" width="100%" height="800px">
</div>
  <div class="index-B">
    <a href="/SDJ">
      <img src="css/image/SDJ.jpg" width="450px" height="700px">
    </a>
    <a href="/DNP">
    <img src="css/image/DNP.png" width="450px" height="700px">
      </a>
  </div>
</div>


@code
{
   
}
