@page "/NES"

<hr style=" border: 2px solid white" />
<br>

<table class="table table-striped" style=" color: #95999c; font-weight: bolder">
    <thead>
    <tr style="text-align: center; font-size: 25px">
        <th>Session</th>
        <th>Date</th>
        <th>Content</th>
        <th>Preparation</th>
    </tr>
    </thead>
    <tbody>
        <tr style="text-align: center; font-size: 35px">
        
            <td>
                <li></li>
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>

@code {
    
}