@page "/Notice"
@using LoginExample.Data
@using LoginExample.Data.Impl
@using LoginExample.Models
@inject IUserService _service;

<hr style=" border: 2px solid white" />
<br>
<div class="notice" style="position: fixed; display: flex; flex-direction: row; width: 100%; height: 80%">
        <div style="flex-direction: column; display: flex; text-align: center; top: 0; bottom: 0; left: 0; right: 0; margin: auto">
                <ul style="list-style-type: none">
                        <li><button class="notice-button">Message box</button></li>
                        <li><button class="notice-button" style="margin-top: 20%">Friend request</button></li>
                        <li><button class="notice-button" style="margin-top: 20%">Announcement</button></li>
                </ul>
        </div>
        <div class="notice-text" style="position: relative; width: 100%; height: 100%; background-color: rgba(255,255,255,0.7); color: black; margin-left: 5%; margin-right: 5%; margin-bottom: 3%">
                @if (type.Equals("Message"))
                {
                        
                }
                else if (type.Equals("Request"))
                {
                        
                }
                else if (type.Equals("Announcement"))
                {
                        
                }
                
        </div>
</div>


@code
{
        private String type;
        private UserData _userData = new UserDataService();
        private IList<Request> _requests = new List<Request>();

        protected override async Task OnInitializedAsync()
        {
                _requests = await _userData.getRequest(_service.getName());
        }


        public void getRequest()
        {
                
        }


}
