@page "/Profiles"

<hr style=" border: 2px solid white" />
<br>

<input id="fileInp" type="file">
<div class="download">
    <img id="download" src="css/image/download.png" alt="dog">
</div>

@code {
    
}