@page "/Profile"
@using LoginExample.Data
@using LoginExample.Data.Impl
@inject NavigationManager NavigationManager
@inject IUserService _service;

<hr style=" border: 2px solid white" />
<br>

<div style="font-family: Arial; font-weight: bold; font-size: 50px; color: white;">Personal Profile</div>
<div class="media">
  <div class="media">
    <img src="css/image/ProfileMedia.jpg" alt="ProfileMedia" class="media-object" width="350px" height="400px">
  </div>
  <div class="media-body">
    
    @foreach (var profile in _profiles)
    {
      if (_profiles!=null)
      {
           <div style="margin-left: 12%; ">
        
              <label class="settings-label3">Username:@profile.username</label>
              <label class="settings-label3" style="margin-left: 25%;">Sex:@profile.sex</label>
        
              <br>
              <hr style=" border: 0.5px solid grey"/>
              <br>
        
              <label class="settings-label3">Firstname:@profile.firstName</label>
              <label class="settings-label3" style="margin-left: 25%">lastname:@profile.lastName</label>
        
              <br>
              <hr style=" border: 0.5px solid grey"/>
              <br>
        
              <label class="settings-label3">Age:@profile.age</label>
              <label class="settings-label3" style="margin-left: 25%">Country:@profile.country</label>
        
              <br>
              <hr style=" border: 0.5px solid grey"/>
              <br>
        
              <label class="settings-label3">PhoneNumber:@profile.phoneNumber</label>
              <label class="settings-label3" style="margin-left: 25%">E-mail:@profile.email</label>
        
            </div>
      }
      else
      {
        <em>NO FOUND PROFIle</em>
      }
    }
 
  </div>
</div>

<br>
<hr style=" border: 0.5px solid grey" />

<button @onclick="setttings" style="margin-top: 10%; margin-left: 90%">Edit</button>

@code {
  private string src;
  private UserData _userData = new UserDataService();
  private IList<Models.Profile> _profiles = new List<Models.Profile>();


  protected override async Task OnInitializedAsync()
  {
    _profiles = await _userData.getProfile();
  }

  public void setttings()
  {
    NavigationManager.NavigateTo("/settings");
  }

  
  
  
}