@page "/Profile"
@inject NavigationManager NavigationManager

<hr style=" border: 2px solid white" />
<br>

<div style="font-family: Arial; font-weight: bold; font-size: 50px; color: white;">Personal Profile</div>
<div class="media">
  <div class="media">
    <img src="css/image/ProfileMedia.jpg" alt="ProfileMedia" class="media-object" width="350px" height="400px">
  </div>
  <div class="media-body">
    <div style="margin-left: 12%; ">
    
      <label class="settings-label3">User Name:</label>
      <label class="settings-label3" style="margin-left: 25%;">Sex:</label>

      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label3">Firstname:</label>
      <label class="settings-label3" style="margin-left: 25%">lastname:</label>
    
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label3">Age:</label>
      <label class="settings-label3" style="margin-left: 25%" >Country:</label>
      
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label3">Phone Number:</label>
      <label class="settings-label3" style="margin-left: 25%">E-mail:</label>
    
    </div>
  </div>
</div>

<br>
<hr style=" border: 0.5px solid grey" />

<button @onclick="setttings" style="margin-top: 10%; margin-left: 90%">Edit</button>

@code {
  private string src;

  public void setttings()
  {
    NavigationManager.NavigateTo("/settings");
  }

  public void print()
  {
    Console.WriteLine(src);
  }
  
  
  
}