@page "/Profile"
@inject NavigationManager NavigationManager

<hr style=" border: 2px solid white" />
<br>

<div style="font-family: Arial; font-weight: bold; font-size: 50px; color: white;">Personal Profile</div>
<div class="media">
  <div class="media">
    <img src="css/image/ProfileMedia.jpg" alt="ProfileMedia" class="media-object" width="350px" height="400px">
  </div>
  <div class="media-body">
    <div style="margin-left: 12%; ">
    
      <label class="settings-label1">Name:</label>

      <label style="margin-left: 20%; font-family: Forte; font-size: 25px; color: white">Sex:</label>
      <label style="margin-left: 3%"></label> 
      <label style="margin-left: 3%"></label>
    
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label1">User Name:</label>
    
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label1">Phone Number:</label>
      
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label1">E-mail:</label>
    
    </div>
  </div>
</div>

<br>
<hr style=" border: 0.5px solid grey" />

<button @onclick="setttings" style="margin-top: 10%; margin-left: 90%">Edit</button>

@code {
  private string src;

  public void setttings()
  {
    NavigationManager.NavigateTo("/settings");
  }

  public void print()
  {
    Console.WriteLine(src);
  }
  
  
  
}