@page "/SDJ"

<hr style=" border: 2px solid white" />
<br>

<table class="table table-striped" style=" color: #95999c; font-weight: bolder">
    <thead>
    <tr style="text-align: center; font-size: 25px">
        <th>Session</th>
        <th>Date</th>
        <th>Content</th>
        <th>Preparation</th>
    </tr>
    </thead>
    <tbody>
        <tr style="text-align: center; font-size: 35px">
        
            <td>
                <ol>
                    <li>Cryptography</li>
                    <li>Confidentiality & Integrity</li>
                    <li>Integrity & Authentication</li>
                </ol>
            </td>
            <td>
asdfas
            </td>
            <td>
                <ul>
                        <li>123</li>
                        <li>123</li>
                    </ul>
                <ul>
                        <li>123</li>
                        <li>123</li>
                    </ul>
            </td>
            <td></td>
        </tr>
    
    <tr style="text-align: center; font-size: 35px; list-style-type: none">
        <td>
            <ol>
                <li>Cryptography</li>
                <li>Confidentiality & Integrity</li>
                <li>Integrity & Authentication</li>
            </ol>
        </td>
        <td>

        </td>
        <td>
            <ul>
                    <li>123</li>
                    <li>123</li>
                </ul>
            
                <ul>
                    <li>123</li>
                    <li>123</li>
                </ul>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
@code {
    
}