@page "/SDJ"
@using LoginExample.Data
@using LoginExample.Data.Impl

<hr style=" border: 2px solid white" />
<br>

<table class="table table-striped" style=" color: #f83a00; font-weight: bolder">
    <thead>
    <tr style="text-align: center; font-size: 1.5vw">
        <th class="th">Session</th>
        <th class="th">Date</th>
        <th class="th">Content</th>
        <th class="th">Preparation</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var SDJ in courses)
    {<tr style="text-align: center; font-size: 1vw">
         <td class="td">
             @SDJ.session
             </td>
         <td class="td">
             @SDJ.date
         </td>
         <td class="td">
             <ul>
                 @SDJ.content
             </ul>
             </td>
         <td class="td">
             @SDJ.preparation
             </td>
         </tr>}
    </tbody>
</table>
@code {
    private CourseData _courseData = new CourseDataService();
    private IList<Models.Course> courses = new List<Models.Course>();

    protected override async Task OnInitializedAsync()
    {
        courses = await _courseData.getAllCourses("SDJ");
    }

}