@page "/Settings"

<hr style=" border: 2px solid white" />
<br>

<div style="font-family: Arial; font-weight: bold; font-size: 50px; color:white;">Personal settings</div>
<div class="media">
  <div class="media">
    <img src="css/image/ProfileMedia.jpg" alt="ProfileMedia" class="media-object" width="350px" height="400px">
  </div>
  <div class="media-body">
    <div style="margin-left: 12%; ">
    
      <label class="settings-label1">Name:</label>
      <input style="margin-left:2%; width: 35%; height: 20%; border:none; background-color: rgba(255,255,255,0.3)">
    
      <label style="margin-left: 20%; font-family: Forte; font-size: 25px; color: white">Sex:</label>
      <label style="margin-left: 3%; color: white"><input type="radio" name="sexRadio"  οnclick="getRadio();" checked="checked"/>Male</label> 
      <label style="margin-left: 3%; color: white"><input type="radio" name="sexRadio"  οnclick="getRadio();"/>Female</label>
    
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
      
      <label class="settings-label1">User Name:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">
    
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label1">Phone Number:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">
      
      <br>
      <hr style=" border: 0.5px solid grey" />
      <br>
    
      <label class="settings-label1">E-mail:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">
    
    </div>
  </div>
</div>

<br>
<hr style=" border: 0.5px solid grey" />

<div style="margin-left: 29%">
  
  <label class="settings-label2">Recent Password:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">

  <br>
  <hr style=" border: 0.5px solid grey"/>

  <label class="settings-label2">New password:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">

  <br>
  <hr style=" border: 0.5px solid grey"/>

  <label class="settings-label2">Confirm new password:</label><input style="margin-left: 2%; width: 35%; height: 40%; border:none; background-color: rgba(255,255,255,0.3)">

</div>

<button style="margin-left: 93%; margin-top: 1%; width: 70px; height: 30px">Save</button>
@code {
    
}