@using LoginExample.Authentication
@using LoginComponent
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <div class="nav">
        <div class="nav-ul">
            <li class="nav-item">
                <div class="item-content">
                    <a href="/">
                        Home
                    </a>
                </div>
            </li>
                
            <li class="nav-item">
                <div class="item-content">
                    <a href="/Counter">
                        Counter
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/search">
                        Search
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/add">
                        Add
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/contactus">
                        Contact us
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/edit">
                        Edit
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/friends">
                        Friends
                    </a>
                </div>
            </li>
        
        </div>
        <div class="person">
            <a href="/Login" @onclick="go">
                <img src="css/image/person.jpg" alt="Login" width="30px" height="30px">
            </a>
        </div>
        <div class="personal">
            <a href="" @onclick="PerformLogout">
                Log out
            </a>
            </div>
        </div>
                  
</AuthorizeView>

@code {
    public string username;
    private string password;
    private string errorMessage;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

    public void go()
    {
        try
        {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/Login");
        }
        catch (Exception e)
        {
            e.ToString();
        }
    }
    public async Task PerformLogout() {
        errorMessage = "";
        username = "";
        password = "";
        try {
            ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        } catch (Exception e) { }
    }
}